.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: rgb(47, 49, 141);

}
.main-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
  gap: 30px;
}
.main-socials svg {
  width: 15px;
  height: 15px;
}
